#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.Square {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Square.light {
  background-color: #794839;
}
.Square.dark {
  background-color: #5d3231;
}
.Square.withPiece {
  cursor: pointer;
}
.Square.selected {
  background-color: blue;
}

.Row {
  display: flex;
}

.PieceContainer {
  width: calc(100% - 18px);
  height: calc(100% - 18px);
}
.PieceContainer img {
  height: 100%;
}
